body {
    font-family: 'Poppins', sans-serif;
    height: 2600px;
}
/* ---------nav start------------- */
nav > ul > div > li {
    list-style: none;
}
nav a {
    text-decoration: none;
    color: black;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.nav-details {
    display: flex;
    margin-right: 70px;
}
.site-name li a {
    font-size: 24px;
    font-weight: 700;
}
.site-name li {
    margin-left: 74px;
}
.nav-details li {
    margin-right: 34px;
}
/* ---------nav end------------- */

/* --------start jurney start--------- */

.start-jurney {
    display: flex;
    margin-left: 120px;
    align-items: center;
    margin-top: 40px;
}
.start-jurney-detail {
    width: 582px;
    height: 270px;
}
.subscribe-now {
    background-color: #f35959;
    color: #FFFFFF;
    width: 196px;
    height: 44px;
    padding: 10px 24px;
    border-radius: 41px;
    font-weight: bold;
    font-size: 16px;
    border: none;
}
.fa-arrow-right {
    margin-left: 7px;
}
.start-jurney-image img {
    width: 440px;
    height: 414px;
    margin-left: 200px;
    transition: width 5s, height 5s, transform 5s;
}
.start-jurney-image img:hover {
    transform: rotate(360deg);
}

/* --------start jurney end--------- */

/* -----------Popular Collection start---------- */

.popular-collection {
    width: 1047px;
    height: 1720px;
    margin-top: 110px;
    margin-left: 200px;
    
}
.popular-collection-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 28px;
}
.all-device {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-bottom: 50px;
}
.each-device {
    width: 329px;
    height: 490px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding-left: 25px;
}
.each-device > img {
    width: 300px;
    height: 256px;
    border-radius: 5px;
    margin-top: 15px;
}
.price {
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 0%;
}
.filled {
    width: 8px;
    height: 5px;
    margin-right: 10px;
    color: #FB8200;
}
.device-detail > p {
    margin: 0%;
    font-size: 14px;
    font-weight: bold;
}
.see-more > a {
    text-decoration: none;
    color: #f35959;
    font-size: 20px;
    position: absolute;
    right: 170px;
}

/* -----------Popular Collection end---------- */


/* ---------------contact form-----------------  */

.container {
    background-color: rgb(251, 240, 251);
    height: 250px;
}
.address {
    text-align: center;
}
form h1 {
    text-align: center;
}
form h1:hover {
    color: royalblue;
}
.first-name:hover {
    color: royalblue;
    padding: 5px;
}
.last-name:hover {
    color: royalblue;
    padding: 5px;
}


/* --------footer start----------- */

footer {
    background-color: #120E43;
    height: 300px;
    width: 100%;
    position: relative;
    top: 50px;
}
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30px;
}
.footer-text h1 {
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    line-height: 1.5;
}
.footer-text p {
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    text-align: center;
}
.footer-text p:nth-child(3) {
    text-align: center;
}
.footer-icon {
    position: relative;
    left: 40px;
}
.footer-icon a {
    font-size: 40px;
    color: #fff;
    padding: 10px 10px;
}

/* --------footer end----------- */


/* ----------------------------
         Media Query           
----------------------------- */

/*------------- Mobile Device ----------*/

@media only screen and (max-width: 688px) {
    html, body {
        overflow-x: hidden;
        max-width: 100%;
        scroll-behavior: smooth;
    }
    .nav-details {
        display: none;
    }
    .start-jurney {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        /* grid-template-columns: repeat(1, 1fr); */
    }
    .start-jurney-detail {
        width: 100%;
        height: 370px;
        margin-right: 10px;
    }
    .start-jurney-image img {
        width: 100%;
        position: relative;
        margin-left: 0px;   
    }
    .popular-collection {
        position: relative;
        width: 100%;
        margin-left: 80px;
        height: 330px;
        margin-top: 0%;
    }
    .all-device {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 10px;
        justify-content: center;
    }
    .popular-collection-title {
        text-align: left;
    }
    .see-more {
        position: relative;
        margin-right: 50px;
        margin-top: 50px;
    }
    .container {
        width: 100%;
        height: 300px;
        position: relative;
        top: 4500px;
    }
    footer {
        width: 100%;
        height: 300px;
        position: relative;
        top: 4550px;
    }
}

/*------------- Tab Device ----------*/


@media only screen and (min-width: 689px) and (max-width: 992px) {
    html, body {
        overflow-x: hidden;
        max-width: 992px;
        scroll-behavior: smooth;
    }
    .start-jurney {
        position: relative;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        margin-left: 50px;
    }
    .popular-collection {
        position: relative;
        width: 100%;
        margin-left: 20px;
    }
    .all-device {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
        position: relative;
    }
    .container {
        width: 100%;
        height: 300px;
        position: relative;
        top: 1000px;
    }
    footer {
        width: 100%;
        height: 300px;
        position: relative;
        top: 1050px;
    }
}



